<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="all">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%r [%t] %-5p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.dotcms.repackage.org.apache.log4j.xml" level="all"/>
        <Root level="all">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>